<!DOCTYPE html>
<Html lang="pt-BR">
<head>
  <title>BugTracker</title>
  <link rel="stylesheet" crossorigin="anonymous"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <meta charset="UTF-8"/>
  <script>
    document.onreadystatechange = () => {
      if (document.readyState === 'interactive') {
        document.getElementById('userAgent').value = window.navigator.userAgent
        document.getElementById('userDate').value = new Date()
      }
    }
  </script>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="style.css"/>
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="container shadow-sm p-3 mz-5 bg-white rounded">
    <div class="mx-auto">
    <h1>Ferramenta de relato de Bugs</h1>
  </div>
    <p class="h4">Preecha todos os dados a seguir</p>
    <form method="post">
      <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" class="form-control" />
      </div>

      <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" class="form-control" />
      </div>

      <div class="form-group">
        <label for="issueType">Classificação: </label>
        <select id="issueType" name="issueType" class="form-control" required>
          <option value="" disabled selected value>Selecione...</option>
          <option value="CRITICAL">Crítico</option>
          <option value="BUG">Falha</option>
          <option value="ENHACEMENT">Melhoria</option>
        </select>
      </div>

      <div class="form-group">
        <label for="howToReproduce">Como reproduzir?</label>
        <textarea id="howToReproduce" name="howToReproduce" class="form-control"></textarea>
      </div>

      <div class="form-group">
        <label for="expectedOutput">A saída esperada?</label>
        <textarea id="expectedOutput" name="expectedOutput" class="form-control"></textarea>
      </div>

      <input type="hidden" id="userAgent" name="userAgent" />
      <input type="hidden" id="userDate" name="userDate" />

      <button class="btn btn-primary btn-lg"> Enviar solicitação</button>
    </form>
  </div>
</body>

</Html>