<Html>

<head>
  <title>BugTracker</title>
  <script>
    document.onreadystatechange = () => {
      if(document.readyState === 'interactive') {
        document.getElementById('userAgent').value = window.navigator.userAgent
        document.getElementById('userDate').value = new Date()
      }
    }
  </script>
</head>

<body>
  <h1>Ferramenta de relato de Bugs</h1>
  <p>Preecha todos os dados a seguir</p>
  <form method="post">
    <label for="issueType">Classificação:</label>
    <input type="text" id="issueType" name="issueType"/>

    <label for="name">Nome:</label>
    <input type="text" id="name" name="name"/>

    <label for="email">e-mail:</label>
    <input type="email" id="email" name="email"/>

    <label for="howToReproduce">Como reproduzir?</label>
    <input type="text" id="howToReproduce" name="howToReproduce"/>

    <label for="expectedOutput">A saída esperada?</label>
    <input type="text" id="expectedOutput" name="expectedOutput"/>
    
    <input type="hidden" id="userAgent" name="userAgent"/>
    <input type="hidden" id="userDate" name="userDate"/>

    <button>Enviar solicitação</button>
  </form>
</body>

</Html>