<!DOCTYPE html>
<Html lang="pt-BR">
<head>
  <title>BugTracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="style.css"/>
</head>

<body>
  <%- include('partials/navbar') %>

  <div class="container">
    <div class="alert alert-success" role="alert">
      Seu problema foi reportado com sucesso. Muito obrigado.
      <a href="/">Voltar e reportar um novo problema.</a>
    </div>
  </div>
</body>
</Html>